<!DOCTYPE html>
<html>
    <head>
        <title>Your Cart</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'shop/styles.css' %}">
    </head>
    <body>
        <div id="header">
            <div class="top">
                <!-- Logo -->
                    <div id="logo">
                        <h1><a href="{% url 'shop:index' %}" id = 'logo'>SHOP</a></h1>
                    </div>
                <!-- Nav -->
                    <nav id="nav">
                        <ul>
                            {% if request.session.customer_id %}
                                <li><a href="{% url 'shop:logout' %}">로그아웃</a></li>
                            {% else %}
                                <li><a href="{% url 'shop:customer_login' %}">로그인 &nbsp; </a></li>
                                <li><a href="{% url 'shop:customer_signup' %}">회원가입 &nbsp; </a></li>
                                <li><a href="{% url 'shop:business_login' %}">판매자 로그인 &nbsp; </a></li>
                                <li><a href="{% url 'shop:business_signup' %}">판매자 회원가입 &nbsp; </a></li>
                            {% endif %}
                        </ul>
                    </nav>
                <!--NavEND-->
            </div>
        </div>

        <div id="main">
            <!-- Intro -->
                <section id="top" class="one dark cover">
                    <div class="container">
                        <header>
                            <h2>장바구니</h2>
                        </header>
                    </div>
                </section>
            <!-- Portfolio -->
                <section id="portfolio" class="two">
                    <div class="container">
                        <header>
                            <h2>주문 내역</h2>
                        </header>
                        <div class="row">
                            <div class="col-12 col-12-mobile">
                                <div class="product-item">
                                    <article class="item">
                                        <header>
                                            {% for item in cart_items %}
                                                <h1>{{ item.product.product_name }}</h1>
                                                <h3>가격: ${{ item.product.price }}</h3>
                                                <h3>개수: {{ item.quantity }}</h3>
                                                <a href="{% url 'shop:update_cart_quantity' item.id 'increase' %}">+</a>
                                                <a href="{% url 'shop:update_cart_quantity' item.id 'decrease' %}">-</a>
                                                <a href="{% url 'shop:update_cart_quantity' item.id 'delete' %}">Remove</a>
                                            {% empty %}
                                            <p>장바구니가 비어 있습니다.</p>
                                            {% endfor %}
                                        </header>                                         
                                    </article>                                    
                                </div>    
                            </div>                      
                        </div>
                    </div>

                    <form id="purchase-form" method="post" action="{% url 'shop:purchase' %}" onsubmit="return confirmPurchase();">
                        {% csrf_token %}
                        <button type="submit">Checkout</button>
                    </form>

                    <script>
                        function confirmPurchase() {
                            return confirm("구매 하시겠습니까?");
                        }
                    </script>
                    <div class="container">
                        <header>
                            <h2>주문 내역</h2>
                        </header>
                        <div class="row">
                            <div class="col-12 col-12-mobile">
                                <div class="product-item">
                                    <article class="item">
                                        <header>
                                            {% for order in orders %}
                                                <h1 class="item-name">{{ order.product.product_name }}</h1>
                                                <h3 class="item-quantity">개수: {{ order.quantity }}</h3>
                                                <h3 class="order-date">주문 날자: {{ order.order_date }}</h3>
                                            {% empty %}
                                                <p>주문이 비어 있습니다.</p>
                                            {% endfor %}
                                        </header>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <header>
                            <h2>주소</h2>
                        </header>
                        <div class="row">
                            <div class="col-12 col-12-mobile">
                                <div class="product-item">
                                    <article class="item">
                                        <header>
                                            {% if address %}
                                                <h1>거리 주소: {{ address.street_address }}</h1>
                                                <h1>도시: {{ address.city }}</h1>
                                                <h1>주: {{ address.state }}</h1>
                                                <h1>국가: {{ address.country }}</h1>
                                                <h1>우편번호: {{ address.postal_code }}</h1>
                                            {% else %}
                                                <h1>No address available.</h1>
                                            {% endif %}
                                        </header> 
                                    </article>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="container">
                        <form method="post">
                            <h2>주소 변경</h2>
                                {% csrf_token %}
                                {{ address_form.as_p }}
                            <button type="submit">Update Address</button>
                        </form>
                    </div>
                </section>
            <!--END-->>
        </div>  

        <script>
            function confirmPurchase() {
                return confirm("구매 하시겠습니까?");
            }
        </script>

        <!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<p>&copy; 2024 Tshop. All rights reserved.</p>
					</ul>

			</div>
    </body>
</html>
