body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header h1 a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="password"],
form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}



form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

.order-list,
.product-list,
.category-list {
    margin-bottom: 20px;
}

.order-item,
.product-item,
.category-item {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.product-list, .cart-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* 가운데 정렬 */
}

.product-item, .cart-item {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #ddd;  /* 테두리 추가 */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%; /* 너비 제한 */
    max-width: 600px; /* 최대 너비 설정 */
}

.product-item h3, .cart-item h3 {
    margin: 0 0 10px;
}

.product-item p, .cart-item p {
    margin: 5px 0;
}

.product-item a, .cart-item a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-item a:hover, .cart-item a:hover {
    background-color: #0056b3;
}

.checkout-btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background-color: #28a745;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.checkout-btn:hover {
    background-color: #218838;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
